/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4          &kp N5                                  &kp N6            &kp N7  &kp N8     &kp N9   &kp N0    &none
&none  &kp Q   &kp W   &kp E   &kp R           &kp T                                   &kp Y             &kp U   &kp I      &kp O    &kp P     &none
&none  &kp A   &kp S   &kp D   &kp F           &kp G                                   &kp H             &kp J   &kp K      &kp L    &kp SEMI  &none
&none  &kp Z   &kp X   &kp C   &kp V           &kp B      &kp BACKSPACE    &kp ESCAPE  &kp N             &kp M   &kp COMMA  &kp DOT  &kp FSLH  &none
                       &none   &kp LEFT_SHIFT  &kp SPACE  &mo 1            &mo 2       &kp LEFT_COMMAND  &none   &none
            >;
        };

        left {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &kp MINUS  &kp EQUAL  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans     &kp SQT    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans     &trans     &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        right {
            bindings = <
&trans  &trans  &trans          &trans          &trans           &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &kp UP_ARROW    &trans           &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans      &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans          &trans           &kp RETURN  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
